# AegisCR Environment Variables Configuration Example
# Duplicate this file to '.env' and modify the values as needed

# Unsplash Search API Access Key
UNSPLASH_ACCESS_KEY=zRFlykNbtqwtGbs5CPWvvGRLxNK9xOmQwBsQ4X1Io1Q

# Pexels Landscape API Key
PEXELS_API_KEY=TI15nFTnkzqWP0UAUGuAtLJcFM4PLkLV0JBwVb2KMorQDfk4RGYNIt60

# OpenWeatherMap API Key
WEATHER_API_KEY=db8abf34273cc1c921dde0f6986a6920

# Groq Explainable AI LLM API Key
GROQ_API_KEY=YOUR_GROQ_API_KEY

# Path to Google Vision OCR JSON credentials file (if using Google Cloud Vision)
GOOGLE_APPLICATION_CREDENTIALS=credentials/google-vision-key.json

# Server port bind setting
PORT=8501
